
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.select-style {
    
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#main{
  
  margin-left: 35%;

}

.intro{
  display: flex;
  justify-content: center;
}
.intro2{
  display: flex;
  justify-content: center;
}


body{
  margin:0;
  text-align:center;

}

#mountainDrop{
  max-width: 25%;
}